@model BrickManager.Web.Features.Inventory.Index.Result

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var legoSet in Model.Sets)
        {
            <tr>
                <td>@legoSet.Number</td>
                <td>@legoSet.Name</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { Id = legoSet.Id })
                    @Html.ActionLink("Delete", "Delete", new { Id = legoSet.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add", "Add")